body {
	background-color: #c5cae9;
	 color: #00001a;
font-family: avenir-book, geneva, Arial, Helvetica, sans-serif; 
}

h1, h2 {
	font-family: avenir-heavy, geneva, Arial, Helvetica, sans-serif; 
	} 

h3, h4 {
	font-family: avenir-medium, geneva, Arial, Helvetica, sans-serif; 
}

p {
	margin-top: 0px;
}

a {
	color: #1a237e;
	text-decoration: none;
}

a:hover{
	color: #3f51b5;
	font-size: 1.3em;
}
h1 a {
	color: #00001a;
}
img {
	max-width: 100%;
	height: auto;
}


article, aside {
	display: table-cell;
}


article {
	width: 70%;
	padding-right: 30px;
}

aside {
	width: 30%;
	padding-left: 30px;
}

/* Make the title stay the same size when they hover on it */
.title a:hover {
	font-size: 1em;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
	
}

.tech-used li {
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 25px;
}

.mem-tasks li {
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 5px;
}

.horizontal {
	max-width: 51%;
	float: right;
	margin-left: 10px;
}

.smaller {
	max-width: 80%;
}

.tasks {
	max-width: 60%
}

/* Make sure the HOME element is bigger than the others */
#home-big a {
	font-size: 20px;
	font-weight: bold;
}

/* Make the nav elements bigger and change the color when they hover on them */
/* Home element */
#home-big a:hover {
	font-size: 1.6em;
	color: #70d6ff;
}
/* Sports & Colophon elements */
#soccer a:hover, #frisbee a:hover, #baseball a:hover, #colophon a:hover {
	color: #70d6ff;
}

/* Three columns for the three sports */
.section1, .section2, .section3 {
	display: table-cell;
	vertical-align: top;
	text-align: justify;
	text-justify: inter-word;
	padding-bottom: 20px;
	width: 31%;
}

/* Make the first letter bigger than the rest of the text */
.first-letter p::first-letter {
    font-size: 150%;
}


/* Add some padding to the sections of the sports */
.section1, .section2 {
	padding-right: 3.5%;	
}



figure {
	float: right;
	padding-left: 5px;
	max-width: 100%
}
.home-big a:hover {
	font-size: 1.5em;

}

/* ****************
	Mobile Fixes
***************** */

	@media (max-width: 640px) {
	article, aside, footer, header, .container {
		display: block;
		width: auto;
		max-width: 100%;
		margin: 0 auto;
		width: 90%;
			}
	article, aside {
			text-align: justify;
		}
	h1 {
		text-align: center;
	}
	.footer-copyright {
		padding-left: 5%;
	}
	footer h5, footer p {
		padding-left: 5%;
		padding-right: 5%
	}
	}
}

