body {
	background-color: #c5cae9;
	 color: #00001a;
font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Russo One', sans-serif;
	} 
h1, h2 {
	text-shadow: 5px 5px #A9A9A9;
}

h3, h4 {
	font-family: 'Roboto', sans-serif;
}

p {
	margin-top: 0px;
	text-align: left;
	font-family: 'Gentium Book Basic', serif;
	font-size: 130%;
}

li {
		font-family: 'Gentium Book Basic', serif;
	font-size: 130%;
}

a {
	color: #1a237e;
	text-decoration: none;
}

a:hover{
	color: #3f51b5;
}
h1 a {
	color: #00001a;
}
img {
	max-width: 100%;
	height: auto;
}


article, aside {
	display: table-cell;
}


article {
	width: 70%;
	padding-right: 30px;
}

aside {
	width: 30%;
	padding-left: 30px;
}

/* Make the title stay the same size when they hover on it */
.title a:hover {
	font-size: 1em;
}

.brand-logo{
	margin-left: 10px;
	font-family: 'Bungee Inline', cursive;
}

.nav a {
	font-family: 'Russo One', sans-serif;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
	
}

.collection {
	width: 100%;
}

.tech-used li {
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 25px;
}

.mem-tasks li {
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 5px;
}

.horizontal {
	max-width: 51%;
	float: right;
	margin-left: 10px;
}

.smaller {
	max-width: 80%;
}

.colophon-border {
	border: 5px solid white;
	line-height: 160%;
	padding: 10px;
	margin:5px;
	background-color: #9fa8da;
}

.colophon-border li {
	list-style-type: square;
	margin-left: 30px;

}

.tasks {
	max-width: 60%
}

/* Make sure the HOME element is bigger than the others */
#home-big a {
	font-size: 20px;
	font-weight: bold;
}

/* Make the nav elements bigger and change the color when they hover on them */
/* Home element */
#home-big a:hover {
	color: #70d6ff;
}
/* Sports & Colophon elements */
#soccer a:hover, #frisbee a:hover, #baseball a:hover, #colophon a:hover {
	color: #70d6ff;
}

.card-content p {
	text-align: left;
}

/* Three columns for the three sports */
.section1, .section2, .section3 {
	display: table-cell;
	vertical-align: top;
	text-align: justify;
	text-justify: inter-word;
	padding-bottom: 20px;
	width: 31%;
}

/* Make the first letter bigger than the rest of the text */
.first-letter p::first-letter {
    font-size: 150%;
}


/* Add some padding to the sections of the sports */
.section1, .section2 {
	padding-right: 3.5%;	
}



figure {
	float: right;
	padding-left: 5px;
	max-width: 100%
}
.home-big a:hover {
	font-size: 1.5em;

}

.inline1 {
	display: flex;
	width: 100%;
}

.inline1 div {
	width: 33%;
}

.inline2 {
	display: flex;
	width: 100%;
}

.inline2 div {
	width: 33%;
}

/* ****************
	Mobile Fixes
***************** */

	@media (max-width: 640px) {
	article, aside, footer, header, .container {
		display: block;
		width: auto;
		max-width: 100%;
		margin: 0 auto;
		width: 90%;
			}
	article, aside {
			text-align: justify;
		}
	h1 {
		text-align: center;
	}
	.footer-copyright {
		padding-left: 5%;
	}
	footer h5, footer p {
		padding-left: 5%;
		padding-right: 5%
	}
	}



/*PARALLAX STYLINGS*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
}

@media (max-width: 750px) {
	.inline1, .inline2 {
		display: inline;
		width: 100%;
	}
	.inline1 div, .inline2 div{
			width:100%;
		}
}


